
		#signupform
		{
			margin-left: 511px;
			width: 700px;
		}
		
section
{
	
	margin-left: 0px;
    margin-top: -278px;
	border: 2px lightgrey inset;
	border-radius: 12px;
	padding: 3px 30px 39px 99px;
	width: 500px;
	height: 336px;
}
table
{
	width: 450px;
}
footer
{
background-color: rgba(102, 123, 195, 1);
color: white;
padding: 5px;
text-align: center;
clear: both;
margin-top: 220px;
}
tr
{
	height: 10px;
}
td
{
	font-size: 17px;
}	
button
{
	margin-left: 150px;
	height: 44px;
    width: 87px;
    text-align: center;
}
#bag
{
	margin-left: 82px;
	margin-top: 102px;
}
		