.imgchanger
		{
			margin-left: 90px;
			margin-top: 90px;
			min-height: 525px;
		}
		
footer
		{
		background-color: rgba(102, 123, 195, 1);
		color: white;
		padding: 5px;
		text-align: center;
		margin-top: 170px;
		}
.toplink
{
	float: right;
	margin-top: 20px;
}
#signup, #login
{
	color: white;
	padding: 3px 8px;
	text-decoration: none;

}
#login
{
	border-right: 1px solid white;
}
#signup:hover, #login:hover
{
	text-decoration: underline;
}