footer
		{
		background-color: rgba(102, 123, 195, 1);
		color: white;
		padding: 5px;
		text-align: center;
		margin-top: 170px;
		}
	table
	{
		width: 400px;
	}
section
{
    border: 2px inset #D3D3D3;
    border-radius: 18px;
    margin-left: 286px;
    margin-top: 134px;
    padding: 121px;
    width: 400px;
}
button
{
	margin-left: 136px;
    margin-top: 27px;
}